<%= form_with(model: @artist, local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, required: true, placeholder: "First Name", autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, required: true, placeholder: "Last Name" %>
  </div>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.text_field :avatar, required: true, placeholder: "Avatar" %>
  </div>
  <%= f.submit "Submit", class: "ui blue button" %>
<% end %>